/* styles.css */
.main-banner .header-text .advertisement-Cartagena h2 {
    color: black; /* Cambiar el color del texto dentro del h2 a negro */
}

.main-banner .header-text .advertisement-Medellin h2 {
    color: aqua; /* Cambiar el color del texto dentro del h2 a negro */
}

.main-banner .header-text .advertisement-Rio h2 {
    color: darkolivegreen; /* Cambiar el color del texto dentro del h2 a negro */
}

.row .item .span{
    color: black;
    font-weight: bold;
}

.container-fluid {
    border: saddlebrown;
}

.info-trip-card {
    border: 1px solid #e6e6e6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .161);
}

.Container-Compani img {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

