/* styles.css */
.main-banner .header-text .advertisement-Cartagena h2 {
    color: black; /* Cambiar el color del texto dentro del h2 a negro */
}

.main-banner .header-text .advertisement-Medellin h2 {
    color: aqua; /* Cambiar el color del texto dentro del h2 a negro */
}

.main-banner .header-text .advertisement-Rio h2 {
    color: darkolivegreen; /* Cambiar el color del texto dentro del h2 a negro */
}
