.container1 {
    width: 90%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.search-box form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trip-type {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.trip-type label {
    margin-right: 15px;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 15px;
    min-width: 150px;
    margin-right: 15px;
}

.form-group label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.icon {
    display: flex;
    align-items: center;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group input:hover {
    border-bottom: 3px solid;
    border-bottom-color: rgb(206, 110, 21);
}

.search-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}


.search-button:hover {
    background-color: #444;
}

@media (max-width: 600px) {
    .search-box form {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
        margin-right: 0;
    }

    .search-button {
        width: 100%;
        margin-top: 20px;
    }
}


.flight-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Cambio para columnas en dispositivos pequeños */
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 90%; /* Para asegurar que se ajuste en pantallas pequeñas */
    margin: 0 auto; /* Centrar en el eje X */
    margin-top: 1cm; /* Establecer margen superior de 5 cm */
    margin-bottom: 1cm; /* Establecer margen inferior de 5 cm */
}

.flight-time {
    text-align: center;
}

.time {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.airport {
    display: block;
    font-size: 16px;
    color: #555;
}

.flight-details {
    text-align: center;
    flex-grow: 1;
}

.direct {
    display: block;
    color: #007bff;
    font-size: 16px;
    text-decoration: underline;
}

.plane {
    display: block;
    font-size: 24px;
    margin: 10px 0;
}

.duration {
    display: block;
    font-size: 16px;
    color: #555;
}

.price {
    text-align: right;
}

.currency {
    display: block;
    font-size: 16px;
    color: #555;
}

.amount {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Media Queries */
@media (min-width: 768px) {
    .flight-card {
        flex-direction: row; /* Vuelve a filas en pantallas medianas y grandes */
        max-width: 80%; /* Ajusta el ancho para pantallas medianas */
    }
}

@media (min-width: 1024px) {
    .flight-card {
        max-width: 60%; /* Ajusta el ancho para pantallas grandes */
    }
}

.container-ventanaemail {
  display: flex;
  justify-content: flex-start; /* Ajuste para alinear a la izquierda */
  align-items: flex-end;
  position:sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.ventanaemail {
  width: 30%;
  margin: 0 10px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translate(5%, 50%);
}
.ventanaemail h3 {
  color: #000000;
  margin-bottom: 15px;
}

.ventanaemail input[type="email"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #000; 
  border-radius: 5px;
  margin-bottom: 15px;
}

.ventanaemail button[type="submit"] {
  background-color: #fff;
  color: #ff4800;
  border: 1px solid #ff4800; 
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 30%;
}

.ventanaemail button[type="submit"]:hover {
  background-color: #ff4800;
  color: #fff; /* Cambia el color al pasar el mouse */
}

.container-ventanaofertas {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; 
}

.ventanaofertas {
  position: absolute; /* Posición absoluta para controlar la ubicación */
  top: 50%; /* Coloca el borde superior en el centro vertical de la pantalla */
  left: 50%; /* Coloca el borde izquierdo en el centro horizontal de la pantalla */
  transform: translate(55%, -10%); /* Centra el contenido */
  width: 60%; /* Ancho de la ventana */
  max-width: 750px; /* Ancho máximo de la ventana */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.container-infofertas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infofertas img {
  width: 100%; /* Controla el tamaño de la imagen al 100% del contenedor */
  height: 100%; /* Ajusta la altura automáticamente */
  border-radius: 10px; /* Borde redondeado */
  margin: 10px 0; /* Margen superior e inferior */

}
.ventanaofertas {
  display: flex; /* Para que los contenedores se coloquen uno al lado del otro */
}

.container-infofertas {
  width: 50%; /* O el porcentaje deseado para el ancho de cada ventana */
  padding: 20px;
}