body {
  background-image: url(''); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  align-items: center; 
  justify-content: center; 
  margin: 0; 
 
}

.image-containerbus {
  position: relative;
}

.image-containerbus img {
  max-width: 100%;
  display: block;
}

.overlaybus {
  position: fixed; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%; 
  max-height: 80%; 
  overflow: auto;
  border-radius: 20px;
  z-index: 999; 
}

.windowbus {
    text-align: center;
  }
  
  .windowbus h2 {
    margin-top: 0;
  }
  
  .search-containerbus {
  position: relative;
  display: inline-block;
  margin-bottom: 10px; 
  }
  
  input[type=text] {
  width: calc(100% - 24px); 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 400px;
  }
  
  .autocomplete-itemsbus {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  background-color: #f1f1f1;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
  }
  
  .autocomplete-itemsbus div {
  padding: 10px;
  cursor: pointer;
  }
  
  .autocomplete-itemsbus div:hover {
  background-color: #e9e9e9;
  }
  
  
  .fechaidabus,
  .fecharegresobus,
  .pasajerosbus,
  .niñosbus,
  .clasebus {
    margin-bottom: 20px;
  }
  
  input[type="date"],
  input[type="number"],
  select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px;
  }
  
  .buscar-vuelosbus {
    background-color: #ff4800; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 10px;
  }
  
  .opciones-viajesbus button {
    padding: 5px 10px;
    background-color: #ffffff;
    margin-right: 10px;
    border: 1px solid #ff4800;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .opciones-viajesbus button.seleccionado {
    background-color: #ff4800;
    color: white;
    border: 1px solid #ff4800;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}



.rowsup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-12sup {
    flex: 1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
}

.alert-success {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.alert-dismissablesup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: inherit;
    background: none;
    border: none;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}

.alert h4 {
    margin-top: 0;
    margin-bottom: 10px;

}
/* botones con icono de calendario*/
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #ff4800; 
  color: #fff; 
  padding: 5px; 
  border-radius: 50%; 
}



.carousel-inner img {
  max-height: 500px;
  width: auto;
}

.container-ventanasd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.ventanad {
  width: 30%; /* Ancho de cada ventana */
  margin: 0 10px; /* Espacio entre ventanas */
  background-color: #ff480017;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-ventanaemail {
  display: flex;
  justify-content: flex-start; /* Ajuste para alinear a la izquierda */
  align-items: flex-end;
  position:sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.ventanaemail {
  width: 30%;
  margin: 0 10px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translate(5%, 50%);
}
.ventanaemail h3 {
  color: #000000;
  margin-bottom: 15px;
}

.ventanaemail input[type="email"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #000; 
  border-radius: 5px;
  margin-bottom: 15px;
}

.ventanaemail button[type="submit"] {
  background-color: #fff;
  color: #ff4800;
  border: 1px solid #ff4800; 
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 30%;
}

.ventanaemail button[type="submit"]:hover {
  background-color: #ff4800;
  color: #fff; /* Cambia el color al pasar el mouse */
}

.container-ventanaofertas {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; 
}

.ventanaofertas {
  position: absolute; /* Posición absoluta para controlar la ubicación */
  top: 50%; /* Coloca el borde superior en el centro vertical de la pantalla */
  left: 50%; /* Coloca el borde izquierdo en el centro horizontal de la pantalla */
  transform: translate(55%, -10%); /* Centra el contenido */
  width: 60%; /* Ancho de la ventana */
  max-width: 750px; /* Ancho máximo de la ventana */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.container-infofertas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infofertas img {
  width: 100%; /* Controla el tamaño de la imagen al 100% del contenedor */
  height: 100%; /* Ajusta la altura automáticamente */
  border-radius: 10px; /* Borde redondeado */
  margin: 10px 0; /* Margen superior e inferior */

}
.ventanaofertas {
  display: flex; /* Para que los contenedores se coloquen uno al lado del otro */
}

.container-infofertas {
  width: 50%; /* O el porcentaje deseado para el ancho de cada ventana */
  padding: 20px;
}

/*------------ radio button aviones o bus*/
.opciones-transporte {
  display: flex;
  flex-direction:row;
  gap: 10px;
  max-width: 260px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ffab7a;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.opciones-transporte input[type="radio"] {
  margin-left: 10px;
}

.volverinicio {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block;
}