.search-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px; /* Agregado margen inferior */
}

input[type=text] {
  width: calc(100% - 24px); /* Cambiado ancho para evitar desbordamiento horizontal */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 400px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  background-color: #f1f1f1;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.image-container {
  position: relative;
}

.image-container img {
  max-width: 100%;
  display: block;
}

.overlay {
  position: fixed; /* Cambiado a fixed */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajuste final para centrar */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%; /* Ajustado tamaño máximo */
  max-height: 80%; /* Ajustado tamaño máximo */
  overflow: auto;
  border-radius: 20px;
  z-index: 999; /* Asegura que esté sobre otros elementos */
}

/* Ajustes para el cuerpo de la página */
body {
  background-image: url('https://images.ctfassets.net/cfexf643femz/7ffmw1z22uDIYLvOwPWKvc/d7cdd973106b745b58904dd19a36d687/razones-invertir-cartagena-colombia.jpg?w=1136&fm=webp&q=60'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  display: flex; /* Cambiado a flex */
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  margin: 0; /* Eliminado el margen */
}

.window {
  text-align: center;
}

.window h2 {
  margin-top: 0;
}

.search-container2 {
position: relative;
display: inline-block;
margin-bottom: 10px; /* Agregado margen inferior */
}

input[type=text] {
width: calc(100% - 24px); /* Cambiado ancho para evitar desbordamiento horizontal */
padding: 12px;
border: 1px solid #ccc;
border-radius: 400px;
}

.autocomplete-items2 {
position: absolute;
border: 1px solid #d4d4d4;
border-radius: 8px;
background-color: #f1f1f1;
max-height: 200px;
overflow-y: auto;
z-index: 99;
}

.autocomplete-items2 div {
padding: 10px;
cursor: pointer;
}

.autocomplete-items2 div:hover {
background-color: #e9e9e9;
}
